body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}


.navbar {
    background-color: yellowgreen;
}
.quem-somos {
    background-color: blue;
    color:white;
}
.margin {
    padding-top: 10px;
    padding-bottom: 50px;
}
.parceiros {
    background-color: turquoise;
}
.logotipo {
    width: 200px;
    height: 100px;
}
.servicos {
    background-color: teal;
}
.pmargin {
    margin-top: 10px;
}
.bg-footer {
    background-color:black;
    color:white;
}
